.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 32px;
  background-color: #144c66;

  &.rtl {
    flex-direction: row-reverse;
  }

  .logo {
    h1 {
      color: #fff;
    }
  }

  .navbar__links {
    display: flex;
    align-items: center;
    gap: 20px;

    list-style: none;

    .btn__lang {
      background-color: #1e1e1e;
      padding: 0 8px;
      border-radius: 9px;
      border: none;
      font-size: 18px;
      color: #f7f7f7;

      cursor: pointer;

      transition: all 0.3s;

      &:hover {
        background-color: #161515;
      }
    }

    .btn__dark-mode {
      background-color: #1e1e1e;

      width: 35px;
      height: 35px;

      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      transition: all 0.3s;
      color: #fff;

      * {
        color: #fff;
      }

      &:hover {
        background-color: #161515;
      }
    }
  }
}

// Dark Mode
// .dark .header {
//   background-color: red;
// }
