.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 32px;
  background-color: #144c66;

  .navbar__links {
    display: flex;

    list-style: none;

    .btn__dark-mode {
      background-color: #1e1e1e;

      width: 30px;
      height: 30px;

      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;

      .sun__icon {
        color: #ffe066;
      }
    }
  }
}

// Dark Mode
// .dark .header {
//   background-color: red;
// }
