$primary-color: red;

@import "loaders.css/src/animations/line-scale.scss";

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}

.App {
  background-color: #ffffff;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 32px;

  transition: 0.3s;

  * {
    color: #101213;
  }
}

.dark {
  background-color: #0e3143;

  * {
    color: #fff;
  }
}

.loader-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #272c2e;
  height: 100vh;
  width: 100wh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 64px;
}
